.Rightbar .MenuItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 15px;
  transform: translateX(-15px);
  border-radius: 15px;
  width: 350px;
  gap: 15px;
}
.Rightbar .MenuItem:hover {
  cursor: pointer;
  background-color: #1f2d26;
}
.Rightbar .MenuItem .Close {
  transition: all 0.3s ease;
}
.Rightbar .MenuItem .Close:hover {
  cursor: pointer;
  transform: scale(0.8);
}
.Rightbar .MenuItem .ItemImg {
  height: 80px;
  width: 125px;
  object-fit: cover;
  border-radius: 10px;
}
.Rightbar .MenuItem h3 {
  font-size: 16px;
}
.Rightbar .MenuItem .Inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Rightbar .MenuItem .Inner .Actions {
  display: flex;
  justify-content: space-between;
}
.Rightbar .MenuItem .Qte {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Rightbar .MenuItem .Qte .Edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--black);
  background-color: var(--background);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.Rightbar .MenuItem .Qte .Edit:hover {
  transform: scale(0.95);
}
.Rightbar .MenuItem .Price {
  font-size: 16px;
  font-weight: 500;
  color: var(--lighwhite);
}
