@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --green: #2b403a;
  --lighgreen: #807b67;
  --background: #fbfaf5;
  --lighwhite: #d1d5d0;
  --black: #1f1f1d;
  color: var(--black);
  background: var(--background);
}

aside {
  position: relative;
}
aside .Wrapper {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 150px;
  background: white;
  padding-top: 25px;
}
